<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
</form>

<script>
;(function() {
	window.addEventListener('dragover', function(event) {
		event.preventDefault();
	}, false);

	window.addEventListener('drop', function(event) {
		event.preventDefault();

		function prepareFormData(file) {
			var data = new FormData();
			data.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);
			data.append('file', file);
			return data;
		}

		for (var i = 0; i < event.dataTransfer.files.length; i++) {
			var data = prepareFormData(event.dataTransfer.files[i]);
			(function(data, i) {
				var xhr = new XMLHttpRequest();
				xhr.open('POST', '/photos/create/');
				xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
				xhr.onload = function() {
					//window.location = this.responseURL;
				}

				xhr.upload.onprogress = function() {
					console.log(i, 'progress', arguments);
				}

				xhr.send(data);
			})(data, i)
		}
	}, true);
})();
</script>
