<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit" />
</form>

<script>
;(function() {
	window.addEventListener('dragover', function(event) {
		event.preventDefault();
	}, false);

	window.addEventListener('drop', function(event) {
		event.preventDefault();

		var data = new FormData();
		for (var i = 0; i < event.dataTransfer.files.length; i++) {
			data.append('file', event.dataTransfer.files[i]);
		}
		data.append('csrfmiddlewaretoken', document.querySelector('input[name="csrfmiddlewaretoken"]').value);

		var xhr = new XMLHttpRequest();
		xhr.open('POST', '/photos/upload/');
		xhr.onload = function() {
			window.location = this.responseURL;
		}

		xhr.upload.onprogress = function() {
			console.log('progress', arguments);
		}

		xhr.send(data);
	}, true);
})();
</script>
